In [1]:
import pandas as pd
import json
import ast

In [2]:
data = []
with open('../../data/raw/movies.ndjson', 'r', encoding='utf-8') as f:
    for line in f:
        data.append(json.loads(line))
df= pd.DataFrame(data)

In [3]:
df

,id,title,original_title,original_language,release_date,budget,revenue,runtime,genres,production_companies,...,poster_path,backdrop_path,belongs_to_collection,keywords,cast,crew,release_dates,videos,similar_movies,_discover_data
0,1062722,Frankenstein,Frankenstein,en,2025-10-17,120000000,144496,150,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...","[{'id': 101082, 'logo_path': '/zjAYU6sUmYaeFeJ...",...,/g4JtvGlQO7DByTI6frUobqvSL3R.jpg,/hpXBJxLD2SEf8l2CspmSeiHrBKX.jpg,None,"[{'id': 1299, 'name': 'monster'}, {'id': 818, ...","[{'adult': False, 'gender': 2, 'id': 25072, 'k...","[{'adult': False, 'gender': 2, 'id': 44138, 'k...","[{'iso_3166_1': 'AD', 'release_dates': [{'cert...","[{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name...","[{'adult': False, 'backdrop_path': '/9EpgaLS44...","{'adult': False, 'backdrop_path': '/hpXBJxLD2S..."
1,1248226,Playdate,Playdate,en,2025-11-05,0,0,95,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'id': 110723, 'logo_path': '/27Od860h9Xc7gDS...",...,/fGodXWqJkkkbSebPIlxLSygV8GY.jpg,/5lQ4euO30sDin5nCifvi0vURFNd.jpg,None,"[{'id': 5501, 'name': 'stay-at-home dad'}, {'i...","[{'adult': False, 'gender': 2, 'id': 32895, 'k...","[{'adult': False, 'gender': 2, 'id': 2808129, ...","[{'iso_3166_1': 'AE', 'release_dates': [{'cert...","[{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name...","[{'adult': False, 'backdrop_path': '/rlu0VPvvR...","{'adult': False, 'backdrop_path': '/5lQ4euO30s..."
2,1054867,One Battle After Another,One Battle After Another,en,2025-09-23,130000000,200300000,162,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 174, 'logo_path': '/ingPVoHnINIrFR7WHm...",...,/m1jFoahEbeQXtx4zArT2FKdbNIj.jpg,/jUPCUYoVdTGa5DBSxOTAriLWqmW.jpg,None,"[{'id': 11196, 'name': 'rebellion'}, {'id': 81...","[{'adult': False, 'gender': 2, 'id': 6193, 'kn...","[{'adult': False, 'gender': 2, 'id': 1102140, ...","[{'iso_3166_1': 'AR', 'release_dates': [{'cert...","[{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name...","[{'adult': False, 'backdrop_path': '/lR7OLuWiL...","{'adult': False, 'backdrop_path': '/jUPCUYoVdT..."
3,1242898,Predator: Badlands,Predator: Badlands,en,2025-11-05,105000000,136304836,107,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...","[{'id': 127928, 'logo_path': '/h0rjX5vjW5r8yEn...",...,/ef2QSeBkrYhAdfsWGXmp0lvH0T1.jpg,/ebyxeBh56QNXxSJgTnmz7fXAlwk.jpg,"{'id': 399, 'name': 'Predator Collection', 'po...","[{'id': 10349, 'name': 'survival'}, {'id': 102...","[{'adult': False, 'gender': 1, 'id': 18050, 'k...","[{'adult': False, 'gender': 2, 'id': 1061155, ...","[{'iso_3166_1': 'AR', 'release_dates': [{'cert...","[{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name...","[{'adult': False, 'backdrop_path': '/yhSSPNQm9...","{'adult': False, 'backdrop_path': '/ebyxeBh56Q..."
4,1116465,A Legend,传说,zh,2024-07-05,0,11242056,129,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 30148, 'logo_path': '/zerhOenUD6CkH8SM...",...,/qbImUt1d3itXcB81BCItPZlfbyr.jpg,/7FDVhmCur4LMOfnXMteiSCtsdOb.jpg,"{'id': 1452167, 'name': 'The Myth Collection',...","[{'id': 337966, 'name': 'اسطورة'}, {'id': 3379...","[{'adult': False, 'gender': 2, 'id': 18897, 'k...","[{'adult': False, 'gender': 2, 'id': 44916, 'k...","[{'iso_3166_1': 'AR', 'release_dates': [{'cert...","[{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name...","[{'adult': False, 'backdrop_path': '/rs3xXgAPI...","{'adult': False, 'backdrop_path': '/7FDVhmCur4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,893941,Misfit,Misfit #EresOTeHaces,es,2021-10-14,0,354068,90,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'id': 78456, 'logo_path': None, 'name': 'Tou...",...,/yDwDiovi6qLcluB4EI3bJp1zOwa.jpg,/h23pHmUwv7JEpDGwHr5ogR8bpQX.jpg,None,"[{'id': 6270, 'name': 'high school'}, {'id': 6...","[{'adult': False, 'gender': 1, 'id': 1319077, ...","[{'adult': False, 'gender': 0, 'id': 3541055, ...","[{'iso_3166_1': 'BR', 'release_dates': [{'cert...",[],"[{'adult': False, 'backdrop_path': '/sQPckU0Tf...","{'adult': False, 'backdrop_path': '/h23pHmUwv7..."
2996,481084,The Addams Family,The Addams Family,en,2019-10-10,40000000,204394183,87,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","[{'id': 75234, 'logo_path': '/u7LNZRgcXH5plshr...",...,/q1epO0eO8DWu8Vo8tPfvVlzW48T.jpg,/uCAy0n0WHTGU4d3LMJtE0fQxCej.jpg,"{'id': 750822, 'name': 'The Addams Family (Ani...","[{'id': 6513, 'name': 'cartoon'}, {'id': 4553,...","[{'adult': False, 'gender': 2, 'id': 25072, 'k...","[{'adult': False, 'gender': 0, 'id': 2010989, ...","[{'iso_3166_1': 'AT', 'release_dates': [{'cert...","[{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name...","[{'adult': False, 'backdrop_path': '/pfXaNekjv...","{'adult': False, 'backdrop_path': '/uCAy0n0WHT..."
2997,484594,Keep Going,Continuer,fr,2018-09-13,0,0,84,"[{'id': 18, 'name': 'Drama'}]","[{'id': 850, 'logo_path': '/aF7qajGJGtMpdrtvss...",...,/nhfmWGzYAvXJwSJJMvbXRhkUACM.jpg,/ejrUjvQttCvMbhQzuqKWVZEUgbe.jpg,None,[],"[{'adult': False, 'gender': 1, 'id': 118178, '...","[{'adult': False, 'gender': 1, 'id': 118178, '...","[{'iso_3166_1': 'BE', 'release_dates': [{'cert...",[],[],"{'adult': False, 'backdrop_path': '/ejrUjvQttC..."
2998,336882,The Wave,Bølgen,no,2015-08-28,5904067,12975143,104,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","[{'id': 3079, 'logo_path': '/12cb7xhHlYnW4ukso...",...,/nUra0UF9MLlTRZH9LCA8xYvhd6D.jpg,/9W0aXF5HhGilDHloymf7sTCne8z.jpg,"{'id': 535748, 'name': 'Wave / Quake Collectio...","[{'id': 612, 'name': 'hotel'}, {'id': 5747, 'n...","[{'adult': False, 'gender': 2, 'id': 7742, 'kn...","[{'adult': False, 'gender': 2, 'id': 87877, 'k...","[{'iso_3166_1': 'AR', 'release_dates': [{'cert...","[{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name...","[{'adult': False, 'backdrop_path': '/v2YxWPX2y...","{'adult': False, 'backdrop_path': '/9W0aXF5HhG..."
2999,514593,You Should Have Left,You Should Have Left,en,2020-06-18,0,0,93,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...","[{'id': 3172, 'logo_path': '/rzKluDcRkIwHZK2pH...",...,/tpOwE6xsWnu4lKeKbKW0R3iClM.jpg,/chAGSv4DB9s3fsgULpSZQLN7LgN.jpg,None,"[{'id': 1209, 'name': 'wales'}, {'id': 1157, '...","[{'adult': False, 'gender': 2, 'id': 4724, 'kn...","[{'adult': False, 'gender': 1, 'id': 2151821, ...","[{'iso_3166_1': 'BR', 'release_dates': [{'cert...","[{'iso_639_1': 'en', 'iso_3166_1': 'US', 'name...","[{'adult': False, 'backdrop_path': None, 'genr...","{'adult': False, 'backdrop_path': '/chAGSv4DB9..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   title                  3000 non-null   object
 2   original_title         3000 non-null   object
 3   original_language      3000 non-null   object
 4   release_date           3000 non-null   object
 5   budget                 3000 non-null   int64
 6   revenue                3000 non-null   int64
 7   runtime                3000 non-null   int64
 8   genres                 3000 non-null   object
 9   production_companies   3000 non-null   object
 10  production_countries   3000 non-null   object
 11  spoken_languages       3000 non-null   object
 12  popularity             3000 non-null   float64
 13  vote_average           3000 non-null   float64
 14  vote_count             3000 non-null   int64
 15  status                 3000 non-null   object
 16  homepage               3000 non-null   object
 17  imdb_id                2998 non-null   object
 18  tagline                3000 non-null   object
 19  overview               3000 non-null   object
 20  poster_path            3000 non-null   object
 21  backdrop_path          2996 non-null   object
 22  belongs_to_collection  724 non-null    object
 23  keywords               3000 non-null   object
 24  cast                   3000 non-null   object
 25  crew                   3000 non-null   object
 26  release_dates          3000 non-null   object
 27  videos                 3000 non-null   object
 28  similar_movies         3000 non-null   object
 29  _discover_data         3000 non-null   object
dtypes: float64(2), int64(5), object(23)
memory usage: 703.3+ KB

In [5]:
df.describe()

,id,budget,revenue,runtime,popularity,vote_average,vote_count
count,3.000000e+03,3.000000e+03,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000
mean,5.276240e+05,2.882211e+07,9.355380e+07,105.189000,9.680308,6.474158,2340.143000
std,3.566023e+05,5.629526e+07,2.324553e+08,22.309516,20.605121,0.872926,4255.773862
min,1.890000e+02,0.000000e+00,0.000000e+00,0.000000,3.729800,2.155000,50.000000
25%,2.390632e+05,0.000000e+00,0.000000e+00,92.000000,5.695200,5.928750,139.000000
50%,4.834040e+05,1.000000e+06,4.811145e+05,102.000000,6.796200,6.500000,488.500000
75%,7.893245e+05,3.000000e+07,6.220740e+07,116.000000,8.993675,7.073500,2449.500000
max,1.571470e+06,5.839000e+08,2.799439e+09,256.000000,736.463900,9.019000,38229.000000

In [6]:
df.columns.tolist()

['id',
 'title',
 'original_title',
 'original_language',
 'release_date',
 'budget',
 'revenue',
 'runtime',
 'genres',
 'production_companies',
 'production_countries',
 'spoken_languages',
 'popularity',
 'vote_average',
 'vote_count',
 'status',
 'homepage',
 'imdb_id',
 'tagline',
 'overview',
 'poster_path',
 'backdrop_path',
 'belongs_to_collection',
 'keywords',
 'cast',
 'crew',
 'release_dates',
 'videos',
 'similar_movies',
 '_discover_data']

In [7]:
df_total = df.drop(['spoken_languages','tagline', 'overview', 'release_dates', 'id',
                    'poster_path', 'backdrop_path', 'videos', '_discover_data', 'original_title', 'homepage', 'status', 'imdb_id'], axis=1)

In [8]:
df_total.columns.tolist()

['title',
 'original_language',
 'release_date',
 'budget',
 'revenue',
 'runtime',
 'genres',
 'production_companies',
 'production_countries',
 'popularity',
 'vote_average',
 'vote_count',
 'belongs_to_collection',
 'keywords',
 'cast',
 'crew',
 'similar_movies']

In [9]:
print(df_total['revenue'].describe())

count    3.000000e+03
mean     9.355380e+07
std      2.324553e+08
min      0.000000e+00
25%      0.000000e+00
50%      4.811145e+05
75%      6.220740e+07
max      2.799439e+09
Name: revenue, dtype: float64

In [10]:
(df_total['revenue']==0).value_counts()

revenue
False    1707
True     1293
Name: count, dtype: int64

In [11]:

print("\nPercentiles :")
percentiles = [10, 20, 25, 33, 50, 66, 75, 80, 90, 95, 99]
for p in percentiles:
    value = df_total['revenue'].quantile(p/100)
    print(f"Percentil {p:2d}%: ${value:>15,.0f}")

#veamos la distribución segun el revenue
print("\n Distribución según el revenue")
ranges = [
    (0, 10_000_000, "< 10M"),
    (10_000_000, 50_000_000, "10M - 50M"),
    (50_000_000, 150_000_000, "50M - 150M"),
    (150_000_000, 500_000_000, "150M - 500M"),
    (500_000_000, float('inf'), "> 500M")
]
for low, high, label in ranges:
    count = len(df_total[
        (df_total['revenue'] >= low) & 
        (df_total['revenue'] < high)
    ])
    percentage = (count / len(df_total)) * 100
    print(f"{label:20s}: {count:4d} películas ({percentage:5.1f}%)")

Percentiles :
Percentil 10%: $              0
Percentil 20%: $              0
Percentil 25%: $              0
Percentil 33%: $              0
Percentil 50%: $        481,114
Percentil 66%: $     18,198,237
Percentil 75%: $     62,207,400
Percentil 80%: $    104,027,618
Percentil 90%: $    302,075,623
Percentil 95%: $    539,033,446
Percentil 99%: $  1,108,822,399

 Distribución según el revenue
< 10M               : 1872 películas ( 62.4%)
10M - 50M           :  318 películas ( 10.6%)
50M - 150M          :  310 películas ( 10.3%)
150M - 500M         :  335 películas ( 11.2%)
> 500M              :  165 películas (  5.5%)

In [12]:
def extract_info(json_string, field='name'):
    """
    Extrae información de una columna en formato JSON
    """
    if json_string is None or (isinstance(json_string, float) and pd.isna(json_string)):
        return []
    
    json_string = str(json_string)
    
    if json_string == '' or json_string == '[]' or json_string == 'nan' or json_string == 'None':
        return []
    
    try:
        data = ast.literal_eval(json_string)
        
        # Si es un diccionario único
        if isinstance(data, dict):
            return [data.get(field, '')] if data.get(field) else []
        
        # Si es una lista de diccionarios
        if isinstance(data, list):
            values = [item.get(field, '') for item in data if isinstance(item, dict) and field in item]
            return values
        
        return []
    except:
        return []

# Columnas JSON a descomprimir
columnas_json = {
    'production_companies': 'name',
    'production_countries': 'name',
    'keywords': 'name',
    'cast': 'name',
    'crew': 'name',
    'genres': 'name',
    'similar_movies': 'title'
}

for col, field in columnas_json.items():
    if col in df.columns:
        nueva_col = f"{col}_names"
        df[nueva_col] = df[col].apply(lambda x: extract_info(x, field=field))
        
        no_vacios = df[nueva_col].apply(len).sum()
        promedio = df[nueva_col].apply(len).mean()
        
        print(f"✓ {col} → {nueva_col}")
        print(f"  Total: {no_vacios} | Promedio: {promedio:.2f}")

print(" CREamos la variable is_franchise")

# Crear variable booleana para belongs_to_collection
df['is_franchise'] = df['belongs_to_collection'].apply(
    lambda x: 0 if x is None or str(x) == 'None' or str(x) == '[]' else 1
)

print(f" is_franchise creada")
print(f"  En franquicia: {df['is_franchise'].sum()} ({df['is_franchise'].mean()*100:.1f}%)")
print(f"  Independientes: {(df['is_franchise']==0).sum()} ({(df['is_franchise']==0).mean()*100:.1f}%)")

# Columnas finales que queremos mantener (sin las JSON originales, son _names)
columnas_finales = [
    'title', 'original_language', 'release_date', 
    'budget', 'revenue', 'runtime', 
    'popularity', 'vote_average', 'vote_count',
    'is_franchise',
    'genres_names', 'production_companies_names', 'production_countries_names',
    'keywords_names', 'cast_names', 'crew_names', 'similar_movies_names'
]

# Crear df_total solo con las columnas finales
df_total = df[columnas_finales].copy()

print(f" df_total creado")
print(f"  Shape: {df_total.shape}")
print(f"  Columnas: {len(df_total.columns)}")


print(f"\nColumnas en df_total:")
for i, col in enumerate(df_total.columns, 1):
    print(f"{i:2d}. {col}")

# Verificar ejemplo
print( "Verificamos con un ejemplo :")
print(df_total[['title', 'revenue', 'is_franchise', 'genres_names']].head(3))

✓ production_companies → production_companies_names
  Total: 10429 | Promedio: 3.48
✓ production_countries → production_countries_names
  Total: 4434 | Promedio: 1.48
✓ keywords → keywords_names
  Total: 26788 | Promedio: 8.93
✓ cast → cast_names
  Total: 104273 | Promedio: 34.76
✓ crew → crew_names
  Total: 255221 | Promedio: 85.07
✓ genres → genres_names
  Total: 7770 | Promedio: 2.59
✓ similar_movies → similar_movies_names
  Total: 54314 | Promedio: 18.10
 CREamos la variable is_franchise
 is_franchise creada
  En franquicia: 724 (24.1%)
  Independientes: 2276 (75.9%)
 df_total creado
  Shape: (3000, 17)
  Columnas: 17

Columnas en df_total:
 1. title
 2. original_language
 3. release_date
 4. budget
 5. revenue
 6. runtime
 7. popularity
 8. vote_average
 9. vote_count
10. is_franchise
11. genres_names
12. production_companies_names
13. production_countries_names
14. keywords_names
15. cast_names
16. crew_names
17. similar_movies_names
Verificamos con un ejemplo :
                      title    revenue  is_franchise  \
0              Frankenstein     144496             0
1                  Playdate          0             0
2  One Battle After Another  200300000             0

                genres_names
0   [Drama, Horror, Fantasy]
1   [Action, Comedy, Family]
2  [Action, Thriller, Crime]

In [13]:
extract_info(df_total)

[]

In [14]:
df_total.columns.to_list()

['title',
 'original_language',
 'release_date',
 'budget',
 'revenue',
 'runtime',
 'popularity',
 'vote_average',
 'vote_count',
 'is_franchise',
 'genres_names',
 'production_companies_names',
 'production_countries_names',
 'keywords_names',
 'cast_names',
 'crew_names',
 'similar_movies_names']

In [15]:
df_total

,title,original_language,release_date,budget,revenue,runtime,popularity,vote_average,vote_count,is_franchise,genres_names,production_companies_names,production_countries_names,keywords_names,cast_names,crew_names,similar_movies_names
0,Frankenstein,en,2025-10-17,120000000,144496,150,736.4639,7.873,1322,0,"[Drama, Horror, Fantasy]","[Double Dare You, Demilo Films, Bluegrass 7]","[United States of America, Canada]","[monster, based on novel or book, supernatural...","[Oscar Isaac, Jacob Elordi, Christoph Waltz, M...","[J. Miles Dale, Dennis Berardi, Stacey Dodge, ...","[Doom, My Life as a Dog, 99 Francs, Casper, Th..."
1,Playdate,en,2025-11-05,0,0,95,394.4340,6.497,150,0,"[Action, Comedy, Family]","[Nickel City Pictures, Wide Awake Pictures, A ...","[United States of America, Canada]","[stay-at-home dad, accountant, action comedy]","[Kevin James, Alan Ritchson, Sarah Chalke, Isl...","[Jason Benoit, Jeffrey Greenstein, Neil Goldma...","[10, Love Hurts, The Last Airbender, The Produ..."
2,One Battle After Another,en,2025-09-23,130000000,200300000,162,376.4645,7.642,1317,0,"[Action, Thriller, Crime]","[Warner Bros. Pictures, Ghoulardi Film Company...",[United States of America],"[rebellion, based on novel or book, resistance...","[Leonardo DiCaprio, Sean Penn, Chase Infiniti,...","[Adam Somner, Cassandra Kulukundis, Paul Thoma...","[Boy 7, 森中有林, American Psycho, The Unsuspected..."
3,Predator: Badlands,en,2025-11-05,105000000,136304836,107,279.0902,7.339,319,1,"[Action, Science Fiction, Adventure]","[20th Century Studios, Lawrence Gordon Product...",[United States of America],"[survival, outcast, alien planet, grand, team ...","[Elle Fanning, Dimitrius Schuster-Koloamatangi...","[Patrick Aison, Dan Trachtenberg, Jim Thomas, ...","[Day the World Ended, War Between the Planets,..."
4,A Legend,zh,2024-07-05,0,11242056,129,254.0500,5.892,51,1,"[Action, Adventure, Fantasy]","[Bona Film Group, Just Creative Studio, Shangh...","[China, Hong Kong]","[اسطورة, a legend, myth 2, professor fang, 傳說,...","[Jackie Chan, Zhang Yixing, Gulnezer Bextiyar,...","[Stanley Tong Gwai-Lai, Stanley Tong Gwai-Lai,...","[UFC on ESPN 65: Emmett vs. Murphy, Rumble, No..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Misfit,es,2021-10-14,0,354068,90,4.9691,8.000,212,0,"[Comedy, Romance]","[Touché Films, 2btube]",[Ecuador],"[high school, bullying, teen movie, teenage gi...","[Alicia Jaziz Zapién, Julián Cerati, Gimena Gó...","[Bastian Manintveld, Fabienne Fourquet, Gonzal...","[Casper, The Karate Kid Part II, High School H..."
2996,The Addams Family,en,2019-10-10,40000000,204394183,87,4.9816,6.605,2428,1,"[Family, Animation, Comedy, Fantasy]","[Cinesite Animation, Nitrogen Studios Canada, ...","[Canada, United States of America]","[cartoon, black humor, family]","[Oscar Isaac, Charlize Theron, Chloë Grace Mor...","[Ellery Van Dooyeweert, Conrad Vernon, Laura G...",[Raggedy Ann & Andy: The Great Santa Claus Cap...
2997,Keep Going,fr,2018-09-13,0,0,84,4.9810,5.300,53,0,[Drama],"[Eurimages, Versus Production, Les films du Wo...","[France, Belgium]",[],"[Virginie Efira, Kacey Mottet Klein, Diego Mar...","[Virginie Efira, Laurent Mauvignier, Joachim L...",[]
2998,The Wave,no,2015-08-28,5904067,12975143,104,4.9800,6.688,1350,1,"[Action, Thriller, Drama]","[Fantefilm, Film i Väst, Tre Vänner]",[Norway],"[hotel, fjord, tsunami, norway, disaster, unde...","[Kristoffer Joner, Ane Dahl Torp, Jonas Hoff O...","[Roar Uthaug, John Kåre Raake, Adrian Curelea,...","[The Core, Baader, The Wrong Bed: Naked Pursui..."
2999,You Should Have Left,en,2020-06-18,0,0,93,4.9777,6.085,937,0,"[Horror, Thriller]","[Blumhouse Productions, Universal Pictures]",[United States of America],"[wales, husband wife relationship, countryside...","[Kevin Bacon, Amanda Seyfried, Avery Tiiu Esse...","[Sarah Lochlan, Daniel Kehlmann, David Koepp, ...","[Dear Santa, The House Across the Lake, Angel ..."

In [16]:
# Como vemos arriba, tenemos filas que al descomprimirlas nos dan listas vacías []

# Columnas con listas (_names)
columnas_listas = ['genres_names', 'production_companies_names', 'production_countries_names',
                   'keywords_names', 'cast_names', 'crew_names', 'similar_movies_names']

# Contar listas vacías por columna
print("Listas vacías por columna:\n")
for col in columnas_listas:
    vacias = df_total[col].apply(lambda x: len(x) == 0).sum()
    porcentaje = (vacias / len(df_total)) * 100
    print(f"  {col:35s}: {vacias:4d} filas vacías ({porcentaje:5.2f}%)")

# Identificar filas que contienen listas vacías

print(" Identificamos las filas con listas vacías")

# Crear máscara, True si la fila tiene al menos una lista vacía
mask_problematicas = df_total[columnas_listas].apply(
    lambda row: any(len(val) == 0 for val in row), 
    axis=1
)

filas_problematicas = mask_problematicas.sum()
print(f"Filas con AL MENOS una lista vacía: {filas_problematicas}")
print(f"Porcentaje: {(filas_problematicas/len(df_total))*100:.2f}%")
print(f"Filas que se mantendrían: {len(df_total) - filas_problematicas}")

# Ver ejemplos de filas problemáticas

print("Ejemplos de filas con listas vacías (primeras 5):")

ejemplos = df_total[mask_problematicas][['title'] + columnas_listas].head(5)
for idx, row in ejemplos.iterrows():
    print(f"{row['title']}:")
    for col in columnas_listas:
        if len(row[col]) == 0:
            print(f"  ✗ {col}: []")
    print()


print(f"\nSe eliminarán {filas_problematicas} filas")
print(f"Quedarán {len(df_total) - filas_problematicas} filas para el modelo")

Listas vacías por columna:

  genres_names                       :    0 filas vacías ( 0.00%)
  production_companies_names         :   29 filas vacías ( 0.97%)
  production_countries_names         :    9 filas vacías ( 0.30%)
  keywords_names                     :  300 filas vacías (10.00%)
  cast_names                         :    5 filas vacías ( 0.17%)
  crew_names                         :    0 filas vacías ( 0.00%)
  similar_movies_names               :  278 filas vacías ( 9.27%)
 Identificamos las filas con listas vacías
Filas con AL MENOS una lista vacía: 322
Porcentaje: 10.73%
Filas que se mantendrían: 2678
Ejemplos de filas con listas vacías (primeras 5):
Abyss:
  ✗ keywords_names: []
  ✗ similar_movies_names: []

Hunting Grounds:
  ✗ keywords_names: []
  ✗ similar_movies_names: []

Stolen Girl:
  ✗ keywords_names: []
  ✗ similar_movies_names: []

Valiant One:
  ✗ keywords_names: []
  ✗ similar_movies_names: []

El Apocalipsis de san Juan:
  ✗ keywords_names: []
  ✗ similar_movies_names: []


Se eliminarán 322 filas
Quedarán 2678 filas para el modelo

In [17]:
# Estudiemos si esas filas son relevantes

# Separar películas con y sin listas vacías
df_con_vacias = df_total[mask_problematicas]
df_sin_vacias = df_total[~mask_problematicas]

print("1. Comparamos con el revenue :\n")
print(f"   Películas CON listas vacías:")
print(f"     - Media revenue: ${df_con_vacias['revenue'].mean():,.0f}")
print(f"     - Mediana revenue: ${df_con_vacias['revenue'].median():,.0f}")
print(f"     - Revenue = 0: {(df_con_vacias['revenue'] == 0).sum()} películas")

print(f"\n   Películas SIN listas vacías:")
print(f"     - Media revenue: ${df_sin_vacias['revenue'].mean():,.0f}")
print(f"     - Mediana revenue: ${df_sin_vacias['revenue'].median():,.0f}")
print(f"     - Revenue = 0: {(df_sin_vacias['revenue'] == 0).sum()} películas")

print("\n2. Comparamos otras métricas :\n")
comparacion = pd.DataFrame({
    'Con vacías': [
        df_con_vacias['budget'].mean(),
        df_con_vacias['popularity'].mean(),
        df_con_vacias['vote_average'].mean(),
        df_con_vacias['vote_count'].mean(),
        df_con_vacias['runtime'].mean()
    ],
    'Sin vacías': [
        df_sin_vacias['budget'].mean(),
        df_sin_vacias['popularity'].mean(),
        df_sin_vacias['vote_average'].mean(),
        df_sin_vacias['vote_count'].mean(),
        df_sin_vacias['runtime'].mean()
    ]
}, index=['Budget', 'Popularity', 'Vote Avg', 'Vote Count', 'Runtime'])

print(comparacion)

1. Comparamos con el revenue :

   Películas CON listas vacías:
     - Media revenue: $1,618,151
     - Mediana revenue: $0
     - Revenue = 0: 247 películas

   Películas SIN listas vacías:
     - Media revenue: $104,608,045
     - Mediana revenue: $1,821,954
     - Revenue = 0: 1046 películas

2. Comparamos otras métricas :

              Con vacías    Sin vacías
Budget      1.365060e+06  3.212352e+07
Popularity  7.995530e+00  9.882884e+00
Vote Avg    6.047062e+00  6.525512e+00
Vote Count  1.883261e+02  2.598875e+03
Runtime     9.667391e+01  1.062128e+02

In [18]:
# Al ver que no son importantes, las eliminamos
df_total = df_total[~mask_problematicas].copy()

print(f"Shape final: {df_total.shape}")
print(f"Películas eliminadas: {filas_problematicas}")
print(f"Películas mantenidas: {len(df_total)}")

Shape final: (2678, 17)
Películas eliminadas: 322
Películas mantenidas: 2678

In [19]:
df_total.columns.to_list()

['title',
 'original_language',
 'release_date',
 'budget',
 'revenue',
 'runtime',
 'popularity',
 'vote_average',
 'vote_count',
 'is_franchise',
 'genres_names',
 'production_companies_names',
 'production_countries_names',
 'keywords_names',
 'cast_names',
 'crew_names',
 'similar_movies_names']

In [ ]:
df_total.to_csv('../../data/processed/df_clean.csv', index=False)